/* This main css file contains the default rules and is geared toward the small/phone view */

* { margin: 0;
    box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
  margin: 3%;
  padding: 0;
  max-width: 94%;
  max-height: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 32px;
  font-family: 'Lato', sans-serif;  /* Declare the base font-family */
  color:#000000;
}

header, main, nav , footer { /* the comma between the selectors means apply the following CSS declarations to all of the listed elements */
  /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
  margin: 0 0.5rem 0 0.5rem;
  padding: 0rem
}
 
header, footer, footer a {
    margin: 0.2rem;    
} 

.logo {
  position: absolute;
  left: 0px;
  width: 60px;  
  margin: 0 0 1em 1em;  
}

header .subheading {
    display:flex;
    flex-flow:column nowrap;
    justify-content: center;
    
}

.diamondvalley {
  width: 100%;
  height: auto;
  margin: 0 0 1em 1em; 
}

header {
    font-size: 16px;
    font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif; 
    margin: 0 0 1em 1em; 
    text-align: left;
}
header h1 {
    margin-left: 60px;
    color: #F7B733;
    font-size: 2.0rem;
}
header h2, strong {
     
    position: relative;
    top: -20px;
    margin-left: 70px; 
    color: #FC4A1A;
    
}
h3, strong {
     
    margin-left:auto; 
    color: #FC4A1A;
    font-size: 25px;      
}

nav {
    
    background-color: #F7B733;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif; 
}
nav button {
    display: block;
    position:absolute;
    margin: .2rem 2%;
    background-color: #F7B733;
    border: none;
    font-size: 1.6rem;
    color: #555;
}
nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

nav ul li {
    background-color: #F7B733; 
    flex-basis: 100%;
    list-style: none;
}
nav ul li a { 
    display: block;
    color: #DFDCE3;
    text-decoration: none;
    padding: .8rem 2%;
    border-top: 1px solid rgba(0,0,0,0.3);
    text-align: left;
    
}
nav ul li.active a {
    background-color: rgba(0,0,0,0.2);
    color: #fff;
}
nav ul li a:hover {
    background-color: rgba(0,0,0,0.4);     
}
nav ul.show {
    display:flex;
}
nav ul.hide  {
    display:none;
}

nav ul li.active a {background: linear-gradient(#FC4A1A 0%, #F7B733 100%); }

main {
    display: block;
    padding: 20 px;
    margin: 0 0 1em 1em; 
    text-align: center;
}
main figure {
    margin: 0 0 .2rem 2%;
    
}
 
}
main figure img{ 
    width: 100%;
    }
section.weather-summary {
    border-style: solid;
    border-width: : medium;
}
section.forecast {
    display: none;
}
article {
    border: .2em solid #DFDCE3;
    width: auto;
    overflow: hidden;
    margin-top: 1.0rem;
    
}

.windchill {margin: 1rem;}
.form {background-color:#bbb; padding: 1rem; border:1px solid #444;}
div {background-color:#eee; padding: 1rem; border:1px solid #444;}
#aNum {border:1px solid #bbeedd; background-color:#F7B733; text-align:center;}

div.weatherGallery{
        padding: 0 2%;
        display: grid;
        grid-template-columns: auto;
    }
div.weatherGallery figure {
    margin: 2rem 0;
    border: 1px solid #aaa;
}
div.weatherGallery figure img {
    width: 100%;
}
div.weatherGallery figure figcaption {
    text-align: center;
    font-size: 1.0rem;
}

/*------FORM-----------*/
form fieldset {
    margin: 2rem 0;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;
    text-align: left
}
form legend {
    color: #445ba9;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: .8rem;
}

form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgb(0,0,0,0.1);
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: 555;
}

form input.submitBtn {
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input: required {
    border-left: red solid 6px;
}

form label.top inpup:required:valid {
    border-left: green solid 6px;
}


section.cityfacts {
    display: grid;
    grid-template-columns: auto;
    padding: 0 2%;
    
}
section.cityfacts ul {
    list-style-type: none;
    
}







footer {
  margin: 0 auto; 
  text-align: center;
  list-style-type: none;
}
.contact {
    background: #F7B733;
     margin: 0 0 1em;
    list-style-type: none;
    
}
.footer-bar {
    background: #DFDCE3; 
     margin: 0 0 1em;
    padding: 15px;
    
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}